<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title><%= @name %></title>
	
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" id="style">
</head>

<body>
	<div id="conversation" style="width: 800px; margin-bottom: 100px">
    <div style="margin-left: 50px; padding:25px">
      <h2 style="padding-bottom: 20px; font-size:1.5em"><%= @name %></h2>
      <p style="padding-bottom: 10px">
        Showing <%= [Reskype::App::PER_PAGE, @messages.length].min %> out of <%= @total %> messages for <%= @name %>.
      </p>
      <p style="padding-bottom: 10px">
        Page <%= @page + 1 %> of <%= @pages %>.
      </p>
      <p>
        <% @pages.times do |i| %>
          <% if i == @page %>
            <%= i + 1 %>
          <% else %>
            <a href="/<%= @page_type %>/<%= @page_id %>?page=<%= i %>"><%= i + 1 %></a>
          <% end %><%= ", " unless i == @pages - 1 %>
        <% end %>
      </p>
    </div>
  
      <% previous_sender = nil %>
      <% @messages.each do |message| %>
    		<div class="item message in <%= "followup" if previous_sender == message.user_id && !@show_chat_name %>" id="kit">
    			<div class="container">
    				<div class="head">
  					<span class="sender">
              <span class="profile" data-sender="lucia.ferne"></span>
              <% if !@show_chat_name %>
                <a name="<%= message.id %>" href="/user/<%= message.user_id %>"><%= message.user.username %></a>
              <% end %>
              <% if @show_chat_name %>
                <a href="/chat/<%= message.chat_id %>?message=<%= message.id %>#<%= message.id %>">
                  <%= message.chat.nice_name %>
                </a>
              <% end %>
            </span>
  					<span class="time"><%= message.created_at.strftime("%d/%m/%Y %H:%M") %></span>
  				</div>
  				<div class="body">
            <% if ["", nil].include? message.identities %>
              <%= message.body %>
            <% elsif !message.identities.include?(" ") %>
              <%= message.user.username %> added <%= message.identities %> to the chat
            <% end %>
          </div>
  			</div>
  		</div>		
      <% previous_sender = message.user_id %>
    <% end %>
  </div>
</body>
</html>
