<h3>Chats</h3>

<table style="width: 800px">
  <% @chats.each do |chat| %>
    <tr>
      <td><a href="/chat/<%= chat["id"] %>"><%= chat["nice_name"][1..-2] %></a></td>
      <td><%= Time.parse(chat["messages"].last["created_at"]).strftime("%x") %></td>
      <td><%= Time.parse(chat["messages"].first["created_at"]).strftime("%x") %></td>
    </tr>
  <% end %>
</table>

<h3>People</h3>

<table style="width: 800px">
  <% @sorted_people.each do |user, messages| %>
    <tr>
      <td><a href="/user/<%= user %>"><%= user %></a></td>
      <td><%= messages.length %></td>
    </tr>
  <% end %>
</table>

